body{
  background-image: url("../images/backg.jpg");
  background-size: cover;
}

.blueback{
  background-color: #74aedb;
}

nav, nav-link{
  background-color: #fdf895;
  color: #74aedb;
}

.calculator{
  width: auto;
  display: inline-block;
  background-color: #74aedb;
  border: none;
  vertical-align: middle;
  height: auto;
  margin: auto;

}

.counter{
  font-size: 250px;
}
